<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title><%- title %> • paste-app</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>
        body {
            padding: 15px;
        }
    </style>
</head>
<body>